div#menuBar.container-fluid{
width: 71%; 
margin-left: 11%;
}

a.text-muted:link, 
a.text-muted:visited,
a.text-muted:hover, 
a.text-muted:active{
    display: block;
    text-decoration: none;
}

a.h6:link, 
a.h6:visited,
a.h6:hover, 
a.h6:active{
    font-size: 83%;
    text-align: center;
    text-decoration: none;
}

.text-muted{
    font-size: 87%;
}

.h6{
    font-size: 67%;
}

.card .card-header{
    padding-bottom: 7%;
    border-style: none;
}







/* nav {

    width: 100%;
} */

/* nav.breadcrumb */

nav.btnInfo{
    padding-left: 13%;
}